out/
target/
project/target
docs/generated
docs-target/
*.fir
*.v
*.anno.json
*.swp
*~
.addons-dont-touch
/lib/
/test_lib/
/testbuild/
rocketchip.jar
project/
.metals/
.idea/
src/main/scala/scala.iml
src/main/scala/.idea/
